{{ define "main" }}

<section class="pa3 pa4-ns">

  <h1 class="f2">📚 Posts par année</h1>

  {{ $pages := where .Site.RegularPages "Section" "posts" }}
  {{ $grouped := $pages.GroupByDate "2006" }}

  <!-- récupérer les clés (années) -->
  {{ $years := slice }}
  {{ range $grouped }}
    {{ $years = $years | append .Key }}
  {{ end }}

  <!-- tri inverse des années -->
  {{ $years = sort $years "value" "desc" }}

  <!-- affichage -->
  {{ range $year := $years }}

    {{ range $grouped }}
      {{ if eq .Key $year }}

        <div class="mb4">

          <h2 class="f3 bb pb2">{{ .Key }}</h2>

          <ul class="list pl3">

            {{ range .Pages.ByDate.Reverse }}
              <li class="mb2">
                <a class="link blue hover-dark-blue"
                   href="{{ .RelPermalink }}">
                  {{ .Title }}
                </a>

                <small class="gray ml2">
                  {{ .Date.Format "02 Jan 2006" }}
                </small>
              </li>
            {{ end }}

          </ul>

        </div>

      {{ end }}
    {{ end }}

  {{ end }}

</section>

{{ end }}